/* --------- 
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
p,
span {
    font-family: "PT Sans Narrow", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 16px !important;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10px !important;
    }
}

/* --------- 
    PRELOAD  
---------- */
#preload {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #292929;
}

#preload .preload__msg {
    margin-bottom: 3rem;
}

#preload .preload__msg span {
    display: inline-block;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Open Sans";
    margin: 5px 2px;
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(1, 1, 1, 0.1));
    -webkit-animation: wave 1.5s ease-in-out infinite;
    animation: wave 1.5s ease-in-out infinite;
    -webkit-animation-delay: calc(0.1s * var(--i));
    animation-delay: calc(0.1s * var(--i));
}

#preload .preload__msg .space {
    margin-right: 15px;
}

#preload .preload__wrapper {
    position: relative;
    width: 5rem;
    height: 5rem;
}

#preload .preload__wrapper .preload__outside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid orange;
    border-left: 3px solid orange;
    border-radius: 50%;
    -webkit-animation: clockwise 1s linear infinite;
    animation: clockwise 1s linear infinite;
}

#preload .preload__wrapper .preload__inside {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-right: 3px solid orange;
    border-radius: 50%;
    -webkit-animation: counter-clockwise 1s linear infinite;
    animation: counter-clockwise 1s linear infinite;
}

@-webkit-keyframes clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes counter-clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes counter-clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    40%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    40%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* --------- 
    HEADER  
---------- */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #121618;
}

header .header__phone div,
header .header__cart div {
    display: inline-block;
}

header .header__phone div h3,
header .header__phone div p,
header .header__cart div h3,
header .header__cart div p {
    font-family: "Open Sans";
    letter-spacing: 2px;
}

header .header__phone div h3,
header .header__cart div h3 {
    color: #dce4e8;
    font-weight: 500;
}

header .header__phone div p,
header .header__cart div p {
    color: #9c9c9c;
}

header .header__phone div img,
header .header__cart div img {
    width: 28px;
    height: 41px;
}

header .header__phone div:first-child,
header .header__cart div:first-child {
    margin-right: 1rem;
}

header .header__phone.header__cart div,
header .header__cart.header__cart div {
    text-align: right;
}

header .header__phone.header__cart div img,
header .header__cart.header__cart div img {
    width: 35px;
    height: 37px;
}

header .header__mid .header__logo {
    text-align: center;
    margin-bottom: 3rem;
}

header .header__mid .header__logo img {
    max-width: 30%;
    max-height: 30%;
}

header .header__mid .header__menu li {
    display: inline-block;
    margin: 0 1rem;
}

header .header__mid .header__menu li a {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
}

header .header__bars {
    display: none;
}

header .header__bars i {
    color: #fff;
    font-size: 3rem;
}

@media screen and (max-width: 960px) {
    .header__phone div p,
    .header__cart div p {
        letter-spacing: 1px !important;
    }
    .header__phone div img,
    .header__cart div img {
        width: 20px !important;
        height: 30px !important;
    }
    .header__phone div:first-child,
    .header__cart div:first-child {
        margin-right: 0.2rem !important;
    }
    .header__mid .header__menu li {
        margin: 0 0.8rem !important;
    }
    .header__mid .header__menu li a {
        letter-spacing: 1px !important;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 1.5rem !important;
    }
    header .header__phone,
    header .header__cart {
        display: none !important;
    }
    header .header__mid .header__logo img {
        max-width: 40% !important;
        max-height: 40% !important;
    }
    header .header__mid .header__menu {
        display: none;
    }
    header .header__bars {
        display: block;
        position: absolute;
        right: 1.5rem;
    }
    header.isFixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    footer .footer__mid .footer__menu {
        text-align: center;
    }
    footer .footer__mid .footer__menu li {
        display: block;
        margin-top: 10px;
    }
    footer .footer__mid .footer__menu li a {
        font-size: 8px;
    }
}

/* --------- 
    BANNER  
---------- */
#banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 2rem;
    background-image: url(../imgs/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#banner .fas {
    color: #fff;
    font-size: 2.5rem;
}

#banner .banner__content {
    text-align: center;
}

#banner .banner__content .banner__img,
#banner .banner__content p,
#banner .banner__content span {
    margin-bottom: 2rem;
}

#banner .banner__content p {
    color: #fff;
    font-family: "PT Sans Narrow";
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 8px;
}

#banner .banner__content span {
    color: #e4e3e3;
    font-family: "Open Sans";
    font-size: 1.5rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    #banner .fas {
        font-size: 2rem !important;
    }
    #banner .banner__content .banner__img img {
        max-width: 60%;
        max-height: 60%;
    }
    #banner .banner__content .banner__img,
    #banner .banner__content p,
    #banner .banner__content span {
        margin-bottom: 1.5rem !important;
    }
    #banner .banner__content p {
        font-size: 2rem !important;
    }
    #banner .banner__content span {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 320px) {
    #banner .fas {
        font-size: 1.5rem !important;
    }
    .footer__link {
        color: red;
        padding: 0 10px;
    }
}

/* --------- 
    CONTENT  
---------- */
.content .content__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5rem 10rem;
    background-image: url(../imgs/intro_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.content .content__intro div {
    text-align: center;
}

.content .content__intro div:not(:last-child) {
    margin-right: 2rem;
}

.content .content__intro div div,
.content .content__intro div h3 {
    margin-bottom: 2rem;
}

.content .content__intro div h3 {
    letter-spacing: 5px;
}

.content .content__intro div p {
    color: #2b3236;
    font-size: 1.2rem;
    font-family: "Open Sans";
}

.content .content__menu {
    position: relative;
    padding: 5rem 10rem;
    background-image: url(../imgs/content_bg.png);
    background-position: center center;
}

.content .content__menu #particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.content .content__menu .content__title {
    text-align: center;
}

.content .content__menu .content__title h2 {
    color: #fff;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.content .content__menu .content__title ul li {
    display: inline-block;
    margin: 0.5rem 1rem;
}

.content .content__menu .content__title ul li a {
    color: #fff;
    font-family: "PT Sans Narrow";
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

.content .content__menu .content__food {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.content .content__menu .content__food > div {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.content .content__menu .content__food > div > div,
.content .content__menu .content__food > div h3,
.content .content__menu .content__food > div p {
    margin-bottom: 1.5rem;
}

.content .content__menu .content__food > div > div {
    position: relative;
    width: 100%;
    height: 50%;
}

.content .content__menu .content__food > div > div img {
    max-width: 100%;
    max-height: 100%;
}

.content .content__menu .content__food > div > div .content__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #fdb838;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.content .content__menu .content__food > div > div .content__mask:hover {
    opacity: 0.8;
    cursor: pointer;
}

.content .content__menu .content__food > div > div .content__mask i {
    color: white;
    font-size: 3rem;
}

.content .content__menu .content__food > div h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.content .content__menu .content__food > div p,
.content .content__menu .content__food > div span {
    font-family: "Open Sans";
    color: #fff;
}

.content .content__menu .content__food > div p {
    letter-spacing: 2.5px;
}

.content .content__menu .content__food > div span {
    font-size: 2rem;
    letter-spacing: 4px;
}
.content .content__menu .view-more {
    position: relative;
    z-index: 10;
    display: block;
    padding: 1rem 2rem;
    margin: 10px auto;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
@media screen and (max-width: 960px) {
    .content .content__intro {
        padding: 5rem 5rem !important;
    }
    .content .content__intro div:not(:last-child) {
        margin-right: 1rem !important;
    }
    .content .content .content__intro .content__menu {
        padding: 5rem 5rem !important;
    }
    .content .content .content__intro .content__menu .content__title li {
        margin: 0 0.5rem !important;
    }
    .content .content .content__intro .content__menu .content__food > div > div,
    .content .content .content__intro .content__menu .content__food > div h3,
    .content .content .content__intro .content__menu .content__food > div p {
        margin-bottom: 1rem !important;
    }
    .content .content .content__intro .content__menu .content__food > div > div {
        height: 40% !important;
    }
    .content .content .content__intro .content__menu .content__food > div > div img {
        max-width: 80% !important;
        max-height: 80% !important;
    }
    .content .content .content__intro .content__menu .content__food > div span {
        font-size: 1.5rem !important;
        letter-spacing: 2px !important;
    }
}

@media screen and (max-width: 768px) {
    .content__intro div p {
        text-align: left;
    }
    .content__menu .content__title a {
        letter-spacing: 1px !important;
    }
    .content__menu .content__title .kind {
        display: none;
    }
    .content__menu .content__food h3 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 640px) {
    .content__menu .content__food div {
        -ms-flex-preferred-size: 33% !important;
        flex-basis: 33% !important;
    }
    .content__menu .content__food div p {
        display: none;
    }
    .content__menu .content__food div span.price {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 480px) {
    .content__menu .content__food div {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
    .content__menu .content__food div div.img__container {
        height: 60% !important;
    }
    .content__menu .content__food div h3 {
        font-size: 1.2rem !important;
    }
    .content__menu .content__food div p,
    .content__menu .content__food div span.price {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 360px) {
    .content .content__intro {
        padding: 3rem 3rem !important;
    }
    .content .content__intro div:not(:last-child) {
        margin-right: 0.3rem !important;
    }
    .content .content__intro img {
        max-width: 70%;
        max-height: 70%;
    }
    .content .content__intro h3 {
        letter-spacing: 3px !important;
    }
    .content .content__intro p {
        display: none;
    }
}

/* --------- 
    ABOUT 
---------- */
.grid.about {
    background-image: url(../imgs/intro_bg.png);
    padding: 3rem;
}

@media (max-width: 1022px) {
    .about__item.img {
        margin-top: 0;
    }
}

.about__item {
    padding: 3rem 2rem;
    margin: 1rem 0;
    /*    background-image: url(../imgs/about_bg.png);*/
    background-color: #333;
    background-position: center center;
    border-radius: 3rem;
}

.about__item p {
    color: #fff;
}

.about__item--title {
    margin-bottom: 1rem;
}

.about__item--title p {
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about__item--content {
    margin-bottom: 3.5rem;
}

.about__item--content p {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
}

.about__item--btn {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 1rem;
}

.about__item--btn:hover {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.about__item--btn p {
    color: black;
    letter-spacing: 3px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.img {
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center center;
    background-blend-mode: lighten;
}

.img1 {
    background-image: url("../imgs/about1.png");
}

.img2 {
    background-image: url("../imgs/about2.png");
}

.img:hover {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;
}

@media screen and (max-width: 768px) {
    .img {
        height: 330px !important;
    }
}

@media screen and (max-width: 480px) {
    .img {
        height: 300px !important;
    }
}

@media screen and (max-width: 360px) {
    .img {
        height: 200px !important;
    }
}

/* --------- 
   CONTACT
---------- */
.contact {
    background-image: url(../imgs/contact_bg1.png);
}

.contact .contact__cheff--img {
    max-width: 100%;
    height: auto;
}

.contact .contact__detail {
    margin-top: 40px;
}

.contact .contact__detail * {
    color: #fff;
}

.contact .contact__detail--title {
    font-size: 5rem;
    letter-spacing: 5px;
    margin-bottom: 5rem;
}

.contact .contact__detail--content {
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.contact .contact__detail--content span {
    font-size: 1.5rem;
}

.contact .contact__detail--content p {
    font-size: 0.5em;
    margin-bottom: 1rem;
}

/* --------- 
    FOOTER  
---------- */
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #121618;
}

footer .footer__phone {
    margin-bottom: 30px;
}

footer .footer__phone div {
    text-align: center;
}

footer .footer__phone div h3,
footer .footer__phone div p {
    font-family: "Open Sans";
    letter-spacing: 2px;
}

footer .footer__phone div h3 {
    color: #dce4e8;
    font-weight: 500;
}

footer .footer__phone div p {
    color: #9c9c9c;
}

footer .footer__phone div img {
    width: 28px;
    height: 41px;
}

footer .footer__mid .footer__logo {
    text-align: center;
    margin-bottom: 3rem;
}

footer .footer__mid .footer__logo img {
    max-width: 30%;
    max-height: 30%;
}

footer .footer__mid .footer__menu li {
    display: inline-block;
    margin: 0 1rem;
}

footer .footer__mid .footer__menu li a {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
}

footer .footer__mid .footer__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}

footer .footer__mid .footer__icon .footer__link {
    color: white;
    padding: 0 10px;
}

footer .footer__mid .footer__text {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* --------- 
    MENU  
---------- */
#mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

#mask .mask__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 80%;
    z-index: 1000;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#mask .mask__wrapper .mask__title,
#mask .mask__wrapper .mask__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mask .mask__wrapper .mask__title.mask__title,
#mask .mask__wrapper .mask__menu.mask__title {
    padding: 2rem;
    border-bottom: 1px solid #ebebeb;
}

#mask .mask__wrapper .mask__title.mask__title span,
#mask .mask__wrapper .mask__menu.mask__title span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#mask .mask__wrapper .mask__title.mask__title i,
#mask .mask__wrapper .mask__menu.mask__title i {
    font-size: 2rem;
}

#mask .mask__wrapper .mask__title.mask__menu,
#mask .mask__wrapper .mask__menu.mask__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}

#mask .mask__wrapper .mask__title.mask__menu li,
#mask .mask__wrapper .mask__menu.mask__menu li {
    margin: 2rem 0;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

#mask .mask__wrapper .mask__title.mask__menu li a,
#mask .mask__wrapper .mask__menu.mask__menu li a {
    color: black;
    letter-spacing: 3px;
}

#mask .mask__wrapper .mask__title.mask__menu li:hover,
#mask .mask__wrapper .mask__menu.mask__menu li:hover {
    border-bottom-color: #ebebeb;
}

#mask .mask__wrapper .mask__title.mask__menu li:hover a,
#mask .mask__wrapper .mask__menu.mask__menu li:hover a {
    color: #4f4ffc;
}
/*# sourceMappingURL=style.css.map */
